name: Create Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Create Release Asset
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install setuptools wheel twine

      - name: Build
        run: |
          python setup.py sdist bdist_wheel
          SDIST_PATH=$(ls dist/*.tar.gz)
          WHEEL_PATH=$(ls dist/*.whl)
          echo "SDIST_PATH=${SDIST_PATH}" >> $GITHUB_ENV
          echo "WHEEL_PATH=${WHEEL_PATH}" >> $GITHUB_ENV

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/v')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: True
          fail_on_unmatched_files: True
          files: |
            ${{ env.SDIST_PATH}}
            ${{ env.WHEEL_PATH}}
