name: Python Checking

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
    paths:
      - tests/**
      - haralyzer/**
      - .github/workflows/**
  pull_request:
    branches:
      - master


jobs:
  Lint:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-16.04, ubuntu-18.04, ubuntu-20.04, macos-10.15, windows-2016, windows-2019]
        python-version: [2.7, 3.6, 3.7, 3.8, 3.9, 3.10.0-alpha.5, pypy-2.7, pypy-3.6, pypy-3.7]
        exclude:
          - os: macos-10.15
            python-version: pypy-2.7
          - os: windows-2016
            python-version: pypy-2.7
          - os: windows-2019
            python-version: pypy-2.7
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Linux Cache
      uses: actions/cache@v2
      if: startsWith(runner.os, 'Linux')
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-${{ matrix.python-version}}-${{ hashFiles('**/requirements.txt', '**/requirements-dev.txts') }}

    - name: MacOS Cache
      uses: actions/cache@v2
      if: startsWith(runner.os, 'macOS')
      with:
        path: ~/Library/Caches/pip
        key: ${{ runner.os }}-${{ matrix.python-version}}-${{ hashFiles('**/requirements.txt', '**/requirements-dev.txts') }}


    - name: Windows Cache
      uses: actions/cache@v2
      if: startsWith(runner.os, 'Windows')
      with:
        path: ~\AppData\Local\pip\Cache
        key: ${{ runner.os }}-${{ matrix.python-version}}-${{ hashFiles('**/requirements.txt', '**/requirements-dev.txts') }}


    - name: Install Dependencies
      run: |
        pip install --upgrade pip wheel
        pip install . -r requirements_dev.txt

    - name: Lint
      if: startsWith(matrix.python-version,'3')
      run: |
        echo ${{ matrix.python-version }}
        pip install bandit black>=20.8b1
        make lint

    - name: Tests
      run: make test

    - name: Report to Coveralls
      run: coveralls
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS }}
        COVERALLS_FLAG_NAME: ${{ matrix.os }}-${{ matrix.python-version }}
        COVERALLS_PARALLEL: true


  Finish:
    needs: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        run: |
          curl https://coveralls.io/webhook?repo_token=${{ secrets.COVERALLS }} -d "payload[build_num]=${{ github.sha }}&payload[status]=done"


